@{
    ViewBag.Title = "Tutorials";
}

<p class="page-title">Tutorials</p>
<div class="border" style="height:15px; text-align:center;">
    <h2>Here are some usefull tutorials for beginners</h2>
</div>
<div class="row" style="width:100%; margin:40px;">
    <ul class="col-md-2 videos" style="display:inline; width:100%; ">
        <li style="display:inline; margin:10px;"><iframe width="480" height="260" src="https://www.youtube.com/embed/YSHW9F2dtOY" frameborder="0" allowfullscreen></iframe></li>
        <li style="display:inline; margin:10px;"><iframe width="480" height="260" src="https://www.youtube.com/embed/E7Voso411Vs" frameborder="0" allowfullscreen></iframe></li>
        <div class="border" style="height:15px; text-align:center;">
        </div>
        <li style="display:inline; margin:10px;"><iframe width="480" height="260" src="https://www.youtube.com/embed/bGpBgDDDVlM" frameborder="0" allowfullscreen></iframe></li>
        <li style="display:inline; margin:10px;"><iframe width="480" height="260" src="https://www.youtube.com/embed/gzV9sUn8gcg" frameborder="0" allowfullscreen></iframe></li>
        <div class="border" style="height:15px; text-align:center;">
        </div>
        <li style="display:inline; margin:10px;"><iframe width="480" height="260" src="https://www.youtube.com/embed/KkO427gLIag" frameborder="0" allowfullscreen></iframe></li>
        <li style="display:inline; margin:10px;"><iframe width="480" height="260" src="https://www.youtube.com/embed/hYUASO5dnAk" frameborder="0" allowfullscreen></iframe></li>

    </ul>

</div>
<div style="text-align:center;">
    <a href="https://www.youtube.com/results?search_query=entity+framework+tutorial"><h2>Learn more</h2></a>
</div>